In [2]:
import pandas as pd

In [3]:
df=pd.read_csv('churn-bigml-80.csv')

In [4]:
df.head()

,State,Account length,Area code,International plan,Voice mail plan,Number vmail messages,Total day minutes,Total day calls,Total day charge,Total eve minutes,Total eve calls,Total eve charge,Total night minutes,Total night calls,Total night charge,Total intl minutes,Total intl calls,Total intl charge,Customer service calls,Churn
0,KS,128,415,No,Yes,25,265.1,110,45.07,197.4,99,16.78,244.7,91,11.01,10.0,3,2.70,1,False
1,OH,107,415,No,Yes,26,161.6,123,27.47,195.5,103,16.62,254.4,103,11.45,13.7,3,3.70,1,False
2,NJ,137,415,No,No,0,243.4,114,41.38,121.2,110,10.30,162.6,104,7.32,12.2,5,3.29,0,False
3,OH,84,408,Yes,No,0,299.4,71,50.90,61.9,88,5.26,196.9,89,8.86,6.6,7,1.78,2,False
4,OK,75,415,Yes,No,0,166.7,113,28.34,148.3,122,12.61,186.9,121,8.41,10.1,3,2.73,3,False

In [5]:
df.shape

(2666, 20)

In [6]:
df.Churn.value_counts()

False    2278
True      388
Name: Churn, dtype: int64

In [7]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2666 entries, 0 to 2665
Data columns (total 20 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   State                   2666 non-null   object
 1   Account length          2666 non-null   int64
 2   Area code               2666 non-null   int64
 3   International plan      2666 non-null   object
 4   Voice mail plan         2666 non-null   object
 5   Number vmail messages   2666 non-null   int64
 6   Total day minutes       2666 non-null   float64
 7   Total day calls         2666 non-null   int64
 8   Total day charge        2666 non-null   float64
 9   Total eve minutes       2666 non-null   float64
 10  Total eve calls         2666 non-null   int64
 11  Total eve charge        2666 non-null   float64
 12  Total night minutes     2666 non-null   float64
 13  Total night calls       2666 non-null   int64
 14  Total night charge      2666 non-null   float64
 15  Total intl minutes      2666 non-null   float64
 16  Total intl calls        2666 non-null   int64
 17  Total intl charge       2666 non-null   float64
 18  Customer service calls  2666 non-null   int64
 19  Churn                   2666 non-null   bool
dtypes: bool(1), float64(8), int64(8), object(3)
memory usage: 398.5+ KB

In [8]:
df.Churn = df.Churn.replace(to_replace = False, value = 0)
df.Churn = df.Churn.replace(to_replace = True, value = 1)

In [9]:
df.head()

,State,Account length,Area code,International plan,Voice mail plan,Number vmail messages,Total day minutes,Total day calls,Total day charge,Total eve minutes,Total eve calls,Total eve charge,Total night minutes,Total night calls,Total night charge,Total intl minutes,Total intl calls,Total intl charge,Customer service calls,Churn
0,KS,128,415,No,Yes,25,265.1,110,45.07,197.4,99,16.78,244.7,91,11.01,10.0,3,2.70,1,0
1,OH,107,415,No,Yes,26,161.6,123,27.47,195.5,103,16.62,254.4,103,11.45,13.7,3,3.70,1,0
2,NJ,137,415,No,No,0,243.4,114,41.38,121.2,110,10.30,162.6,104,7.32,12.2,5,3.29,0,0
3,OH,84,408,Yes,No,0,299.4,71,50.90,61.9,88,5.26,196.9,89,8.86,6.6,7,1.78,2,0
4,OK,75,415,Yes,No,0,166.7,113,28.34,148.3,122,12.61,186.9,121,8.41,10.1,3,2.73,3,0

In [10]:
df_dummies=pd.get_dummies(df,drop_first=True)
df_dummies.shape
df_dummies.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2666 entries, 0 to 2665
Data columns (total 69 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   Account length          2666 non-null   int64
 1   Area code               2666 non-null   int64
 2   Number vmail messages   2666 non-null   int64
 3   Total day minutes       2666 non-null   float64
 4   Total day calls         2666 non-null   int64
 5   Total day charge        2666 non-null   float64
 6   Total eve minutes       2666 non-null   float64
 7   Total eve calls         2666 non-null   int64
 8   Total eve charge        2666 non-null   float64
 9   Total night minutes     2666 non-null   float64
 10  Total night calls       2666 non-null   int64
 11  Total night charge      2666 non-null   float64
 12  Total intl minutes      2666 non-null   float64
 13  Total intl calls        2666 non-null   int64
 14  Total intl charge       2666 non-null   float64
 15  Customer service calls  2666 non-null   int64
 16  Churn                   2666 non-null   int64
 17  State_AL                2666 non-null   uint8
 18  State_AR                2666 non-null   uint8
 19  State_AZ                2666 non-null   uint8
 20  State_CA                2666 non-null   uint8
 21  State_CO                2666 non-null   uint8
 22  State_CT                2666 non-null   uint8
 23  State_DC                2666 non-null   uint8
 24  State_DE                2666 non-null   uint8
 25  State_FL                2666 non-null   uint8
 26  State_GA                2666 non-null   uint8
 27  State_HI                2666 non-null   uint8
 28  State_IA                2666 non-null   uint8
 29  State_ID                2666 non-null   uint8
 30  State_IL                2666 non-null   uint8
 31  State_IN                2666 non-null   uint8
 32  State_KS                2666 non-null   uint8
 33  State_KY                2666 non-null   uint8
 34  State_LA                2666 non-null   uint8
 35  State_MA                2666 non-null   uint8
 36  State_MD                2666 non-null   uint8
 37  State_ME                2666 non-null   uint8
 38  State_MI                2666 non-null   uint8
 39  State_MN                2666 non-null   uint8
 40  State_MO                2666 non-null   uint8
 41  State_MS                2666 non-null   uint8
 42  State_MT                2666 non-null   uint8
 43  State_NC                2666 non-null   uint8
 44  State_ND                2666 non-null   uint8
 45  State_NE                2666 non-null   uint8
 46  State_NH                2666 non-null   uint8
 47  State_NJ                2666 non-null   uint8
 48  State_NM                2666 non-null   uint8
 49  State_NV                2666 non-null   uint8
 50  State_NY                2666 non-null   uint8
 51  State_OH                2666 non-null   uint8
 52  State_OK                2666 non-null   uint8
 53  State_OR                2666 non-null   uint8
 54  State_PA                2666 non-null   uint8
 55  State_RI                2666 non-null   uint8
 56  State_SC                2666 non-null   uint8
 57  State_SD                2666 non-null   uint8
 58  State_TN                2666 non-null   uint8
 59  State_TX                2666 non-null   uint8
 60  State_UT                2666 non-null   uint8
 61  State_VA                2666 non-null   uint8
 62  State_VT                2666 non-null   uint8
 63  State_WA                2666 non-null   uint8
 64  State_WI                2666 non-null   uint8
 65  State_WV                2666 non-null   uint8
 66  State_WY                2666 non-null   uint8
 67  International plan_Yes  2666 non-null   uint8
 68  Voice mail plan_Yes     2666 non-null   uint8
dtypes: float64(8), int64(9), uint8(52)
memory usage: 489.6 KB

In [11]:
X=df_dummies.drop('Churn',axis=1)
y=df_dummies['Churn']

In [12]:
from sklearn.model_selection import train_test_split
X_train,X_test,y_train,y_test=train_test_split(X,y,test_size=0.2,random_state=42)

In [13]:
from sklearn.ensemble import RandomForestClassifier
RFC=RandomForestClassifier(criterion='entropy')
RFC.fit(X_train,y_train)

RandomForestClassifier(criterion='entropy')

In [14]:
pred=RFC.predict(X_test)

In [15]:
from sklearn.metrics import classification_report
print(classification_report(y_test, pred))

              precision    recall  f1-score   support

           0       0.92      1.00      0.96       455
           1       1.00      0.53      0.69        79

    accuracy                           0.93       534
   macro avg       0.96      0.77      0.83       534
weighted avg       0.94      0.93      0.92       534

In [20]:
#oversampling using SMOTE
from imblearn.over_sampling import SMOTE
sm=SMOTE()
X_res,y_res=sm.fit_resample(X_train,y_train)
X_res.shape

(3646, 68)

In [29]:
model1=RandomForestClassifier(criterion='entropy',random_state=42)
model1.fit(X_res,y_res)
pred=model1.predict(X_test)

In [30]:
from sklearn.metrics import classification_report
print(classification_report(y_test, pred))

              precision    recall  f1-score   support

           0       0.94      0.97      0.95       455
           1       0.77      0.63      0.69        79

    accuracy                           0.92       534
   macro avg       0.85      0.80      0.82       534
weighted avg       0.91      0.92      0.91       534

In [26]:
#Hybrid 
from imblearn.combine import SMOTETomek
smt=SMOTETomek()
X_res,y_res=smt.fit_resample(X_train,y_train)
X_res.shape

(3632, 68)

In [31]:
model2=RandomForestClassifier(criterion='entropy',random_state=42)
model2.fit(X_res,y_res)
pred=model1.predict(X_test)

In [32]:
from sklearn.metrics import classification_report
print(classification_report(y_test, pred))

              precision    recall  f1-score   support

           0       0.94      0.97      0.95       455
           1       0.77      0.63      0.69        79

    accuracy                           0.92       534
   macro avg       0.85      0.80      0.82       534
weighted avg       0.91      0.92      0.91       534

In [ ]:
# Imbalanced Tecq
Undersampling--Random undersampling,Near Miss 
Oversampling --SMOTE--- Alg--KNN - only train data disadv--Biased adv--train
Hybrid Smotetomek,Smote-enn